<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
</head>
<body>
  <h2> 메인페이지 </h2>
  {% if not request.session.session_id %}
  <ul>
    <h4>로그인을 하셔야 다른 메뉴확인이 가능합니다.</h4>
    <li><a href="/member/login/">로그인</a></li>
  </ul>
  {% else %}
  <ul>
    <h4>홍길동님 환영합니다.</h4>
    <li><a href="/member/logout/">로그아웃</a></li>
    <li><a href="/board/blist/">게시판리스트</a></li>
    <li><a href="/admin/">admin 관리자</a></li>
  </ul>
  {% endif %}
</body>
</html>