<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>학생전체리스트</title>
</head>
<body>
  <div>
    <h2>학생전체리스트</h2>
    <h4>등록인원 : 명</h4>
    <table>
      <tr>
        <th>번호</th>
        <th>이름</th>
        <th>학과</th>
        <th>학년</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="">홍길동</a></td>
        <td>컴공</td>
        <td>2</td>
        <td><button type='button' onclick="">수정</button></td>
        <td><button type='button' onclick="">삭제</button></td>
      </tr>
    </table>
    <button onclick="">홈으로</button>
    <button onclick="">학생입력</button>
  </div>
</body>
</html>